footer {
    width: 100vw;
    box-shadow: 0px 0px 10px #084098;
    text-shadow: 0px 0px 10px #084098;
    margin: 0;
    font-family: 'Bungee', cursive;
    text-align: center;
    color: white;
    position: absolute;
    bottom: 0px;
}